<!DOCTYPE html>
<html lang="zh-hans">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />
    <title>东方财富网股票分红信息爬虫</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'dividend_data/style.css' %}"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="login">
      <div class="login_form" style='width: 30rem; height: 14rem; display: flex; justify-content: center; align-items: center;'>
        <h1>确认清空数据库？</h1>
        <a href="{% url 'dividend_data:delete_all' %}" style='color: red; background-color: white; margin-bottom: 10px;' id='delete'>清空</a>
        {% comment %} <a href="#" style='color: red; background-color: white; margin-bottom: 10px;' id='delete'>清空</a> {% endcomment %}
        <a id='backLink'>取消</a>
      </div>
      <!-- 加载动画 -->
      <div class="overlay" id="overlay">
        <div class="loader" id="loader"></div>
      </div>
    </div>

    <div class="header">
      <h1>东方财富网股票分红信息爬虫</h1>
    </div>
    <div class="main">
      <div class="side-bar">
        <h2>功能选项</h2>
        <a href="#">爬取数据</a>
        <a href="#">爬取结果</a>
      </div>
      <div class="content">
        <h1>爬取结果</h1>
        <div class="options"></div>
        <div class="form-content">
          <table>
            <thead>
              <tr>
                <th>序号</th>
                <th>股票代码</th>
                <th>公司名称</th>
                <th>分红年份</th>
                <th>公告日期</th>
                <th>送股比例</th>
                <th>转股比例</th>
                <th>现金分红比例</th>
                <th>股息率</th>
                <th>每股收益</th>
                <th>每股净资产</th>
                <th>每股公积金</th>
                <th>每股未分配利润</th>
                <th>净利润增长率</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
          document.getElementById('delete').addEventListener("click", function(event) {
              // 显示加载动画和遮罩层
              document.getElementById("overlay").style.display = "block";
              document.getElementById("loader").style.display = "block";
          });
      });
  </script>
  <script>
    // 当文档加载完毕后，为返回链接添加点击事件
    document.addEventListener('DOMContentLoaded', function() {
        var backLink = document.getElementById('backLink');
        backLink.addEventListener('click', function() {
            // 调用history.back()方法来返回到前一个页面
            window.history.back();
        });
    });
    </script>
  </body>
</html>
